# Installing
flask_intro.egg-info
build
dist
sdist
.venv/**
node_modules

# Running
__pycache__
**.pyc

# C extensions
*.so

# Packages
*.egg
*.egg-info
eggs

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Other build artifacts
tags
tags.lock
tags.temp
.idea

# webpack-built files
/flask_intro/static/build/

# Configuration
.env

# Development database
*.db
